[Unit]
Description=Daily MongoDB Backup for Warehouse CRM
Requires=wms-backup.service

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
